.adsOverlay{
    background: rgba(255, 255, 255, 0.5);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.adsForm{
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    position: fixed;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -120px;
    z-index: 2;
}

.adsForm ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.adsForm ul li {
    padding: 5px;
    width: 240px;
    float: left;
}

.adsForm ul li label{
    display: block;
    margin-bottom: 5px;
}

.adsForm li.formBtn{
    text-align: right;;
}

.adsForm ul li  span{
    color: #ec4848;
    font-size: 12px;
    margin-top: 3px;
}

.errorShow {
    display: block;;
}

.errorHide {
    display: none;;
}