.topBar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: #5f5f5f;
    padding: 15px 15px;
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
}